<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">
        var vibes = [
            {% for vibe in vibes %}     
        {# This assumes a lot of things badly -#}
        {% set relpath = vibe.outputs[0].split('/') | last  -%}
        { "url": "{{ relpath }}", "name": "{{ vibe.name }}" },
        {% endfor %}
            ]

        function nextVibe() {
            current_url = (current_url + vibes.length + 1) % (vibes.length);
            document.getElementById("cv").src = vibes[current_url].url;
            history.pushState(null, '', window.location.pathname + '?' + vibes[current_url].name);
        }
        function previousVibe() {
            current_url = (current_url + vibes.length - 1) % (vibes.length);
            document.getElementById("cv").src = vibes[current_url].url;
            history.pushState(null, '', window.location.pathname + '?' + vibes[current_url].name);
        }
        search = new URL(document.location).search;
        var current_url = Math.max(0, vibes.findIndex(x => x.name == search))
        window.onload = () => { document.getElementById("cv").src = vibes[current_url].url }
        history.pushState(null, '', window.location.pathname + '?' + vibes[current_url].name);
    </script>
</head>
<body format="background: #f3f3f3">
<div style="display:flex;position:absolute;justify-content:space-between;width:100%;">
    <input id="clickMe" type="button" value="Previous CV" onclick="previousVibe();" />
    <input id="clickMe" type="button" value="Next CV" onclick="nextVibe();" />
</div>
</body>
<iframe scrolling=no id="cv" style="display:block;margin:auto;width:21cm;height:29cm;border:none;box-shadow:1em 1em 20px 0px;"></iframe>