<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">
        var vibes = [
            {% for vibe in vibes %}     
        {# This assumes a lot of things badly -#}
        {% set relpath = vibe.output[0].split('/') | last  -%}
        { "url": "variants/{{ relpath }}", "name": "{{ vibe.name }}" },
        {% endfor %}
            ]

        function nextVibe() {
            current_url = (current_url + vibes.length + 1) % (vibes.length);
            document.getElementById("cv").src = vibes[current_url].url;
        }
        function previousVibe() {
            current_url = (current_url + vibes.length - 1) % (vibes.length);
            document.getElementById("cv").src = vibes[current_url].url;
        }
        var current_url = 0
        window.onload = () => { document.getElementById("cv").src = vibes[current_url].url }
    </script>
</head>
<div style="display:flex;position:absolute;justify-content:space-between;width:100%;">
    <input id="clickMe" type="button" value="Previous CV" onclick="previousVibe();" />
    <input id="clickMe" type="button" value="Next CV" onclick="nextVibe();" />
</div>
<iframe id="cv" width="21cm" height="29cm" style="display:block;margin:auto"></iframe>