{% if items|length > 0 %}
<div class="leaf">
<h2 class="stub" id="{{title}}">{{title|title}}</h2>
    {% for item in items %}
    <div class="leaf">
        <div class="flex flex__header stub">
            <h3>{{item.name}}</h3>
            {% if item.start_date %}
            <div class="yearrange">{{item.start_date}}&#8211;{{item.end_date}}</div>
            {% endif %}
        </div>
        <div class="flex flex__body">
            <i class=" flex icon material-icons">
                alternate_email
            </i>
            <div class="flex flex--col">
                {% if item.position %}
                <em>{{item.position}}</em>
                {%endif%}
                {% if item.description %}
                <p>{{item.description}}</p>
                {%endif%}
                {% if item.highlights | length > 0 %}
                <ul>
                    {% for hl in item.highlights %}
                    <li>
                        {{hl}}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}