@page {
    size: 21cm 29.7cm;
    margin: 30mm 45mm 30mm 45mm;
}

/* Make A4 */
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12pt;
    max-width: 49em;
    margin: 0 auto 2em auto;
    line-height: 1.4;
    padding: 0em 0.5em;
}

h1 {
    font-size: 150%;
    font-weight: 600;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 0px;
}

h2 {
    font-size: 120%;
    font-weight: 600;
    page-break-after: avoid;
    margin: 0.7em 0em 0em 1em;
}

h2::before {
    border-bottom-color: orange;
    border-bottom-style: solid;
    width: 1em;
    height: 1em;
    position: absolute;
}


h3 {
    font-size: 100%;
    font-weight: 600;
    margin: 0.7em 0em 0em 1em;
}

h3::before {
    border-bottom-color: orange;
    border-bottom-style: solid;
    width: 1em;
    height: 1em;
    position: absolute;
}

strong {
    font-weight: 600;
}

.main {
    display: flex;
}

.column {
    width: 50%;
    margin-left: 1em;
    border-left-color: orange;
    border-left-style: solid;
}

.block {
    margin-left: 2em;
    border-left-color: orange;
    border-left-style: solid;
}

.item {
    margin-bottom: 0.5em;
    display: table;
    page-break-inside: avoid;
}

.comp {
    display: flex;
}

.comp__icon {
    display: none;
}

.comp--flexcol {
    flex-direction: column;
}

.year {
    width: 48px;
    display: table-cell;
}

.yearrange {
    width: 92px;
    font-style: italic;
    color: grey;
    display: table-cell;
}

.onelineitem {
    margin-bottom: 5px;
    display: table;
    page-break-inside: avoid;
}

.linebox {
    border-bottom-color: orange;
    border-bottom-style: solid;
    width: 15px;
    height: 1.5em;
    position: absolute;
}

#name {
    page-break-after: avoid;
    font-size: 20pt;
    font-weight: 500;
    margin-bottom: 0px;
}

.tt {
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

p {
    margin: 0 0 0.4em 0;
    color: darkslategrey;
}

.vline {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 0 0 0.6em 0;
}

.docname {
    font-size: 133%;
}

@media print {
    body {
        width: 680px;
    }
}