<div id="basics" class="flex">
    <div id="portrait" class="tree">
        <img class="" src="{{ basics.image }}" alt="so handsome and pretty">
        <svg class="" viewBox="0 0 100 100">
            <polyline points="35,13 50,-2 65,13"></polyline>
            <polyline points="35,87 50,102 65,87"></polyline>
            <polyline points="13,35 -2,50 13,65"></polyline>
            <polyline points="87,35 102,50 87,65"></polyline>
            <!-- <polyline points="50,0 100,50 50,100 0,50 50,0"></polyline>
            <polyline points="50,0 100,50 50,100 0,50 50,0"></polyline>
            <polyline points="50,0 100,50 50,100 0,50 50,0"></polyline> -->
        </svg>
    </div>
    <div class="tree">
        <div class="flex">
        <h2>{{ basics.name }}</h2> - <h2>{{ basics.label }}</h2>
        </div>
        <br>
        <div class="flex">
            <div>
                {% for key, value in basics.location.items() %}
                <div>{{value}}</div>
                {% endfor %}
            </div>
            <div class="align-right">
                {% for key, value in basics.contact.items() %}
                <div>{{value}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="vline"></div>
        <div class="flex social">
            {% for profiles in basics.profiles %}
            <div class="flex">
                <i class="{{ profiles.fa_icon_class }}"></i>
                {# <img src="{{ profiles.favicon }}"> #}
                <p href="{{ profiles.url }}">{{ profiles.username }} </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
