<div id="basics" class="flex">
    <div class="tree" format="width:15%">
        <img id="portrait" src="../{{ basics.image }}" alt="so handsome/pretty">
    </div>
    <div class="tree">
        <div class="flex">
        <h2>{{ basics.name }}</h2> - <h3>{{ basics.label }}</h3>
        </div>
        <div class="flex">
            <div class="column column--left">
                {% for location in basics.location %}
                <div>{{location}}</div>
                {% endfor %}
            </div>
            <div class="column column--right">
                {% for key, value in basics.contact.items() %}
                <div>{{key}} : {{value}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="flex">
            {% for profiles in basics.profiles %}
            <div>
                <img src="{{ profiles.favicon }}">
                <p href="{{ profiles.url }}">{{ profiles.username }} </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>