<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Curriculum Vitae</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../base.css">
</head>

<body>
    <h1 id="name"></h1> &nbsp; <span class="docname">Curriculum Vit&aelig;</span>
    <div class="vline"></div>
    <div class="main">
        <div class="column column--left">
            {% set items=(education | sort(attribute='startDate')) %}
            {% set title="Education" %}
            {% include "includes/tree.html.jinja" %}
            {% set items=((work + volunteer) | sort(attribute='startDate')) %}
            {% set title="Employment" %}
            {% include "includes/tree.html.jinja" %}
        </div>
        <div class="column column--right">
            {% set items=(skills) %}
            {% set title="Skills" %}
            {% include "includes/tree.html.jinja" %}
            {% if (languages)|length > 0 %}
            <div class="block">
                <h2 id="languages">Languages</h2>
                {% for group, items in languages|groupby(attribute="rating", default="It's complicated") %}
                <div class="item">
                    <div class="comp comp__header">
                        <h3>{{group}}</h3>
                    </div>
                    {%for item in items %}
                    <div class="comp comp__body">
                        <p>{{item.language}}</p>
                    </div>
                    {%endfor%}
                </div>
                {% endfor %}
            </div>
            {%endif%}
            {% if (qualifications)|length > 0 %}
            <div class="block">
                <h2 id="qualifications">Qualifications</h2>
                {%for qual in qualifications%}
                <h3 class="item">{{qual.issuer_short or qual.issuer}} {{qual.name}}</h3>
                {%endfor%}
            </div>
            {%endif%}
        </div>
    </div>
    <div class="block" style="display: none;">
        {% for reference in references %}
        <div class="onelineitem">
            {% include "includes/reference_card.html.jinja" %}
        </div>
        {% endfor %}
    </div>
</body>

</html>