<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Curriculum Vitae</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../base.css">
</head>

<body>

    <h1 id="name"></h1> &nbsp; <span class="docname">Curriculum Vit&aelig;</span>
    <div class="main">
    <div class="vline"></div>
    
    {% if education|length > 0 %}
    <div class="block block--left">
    <h2 id="education">Education</h2>
        <div class="block__contain">
        {% for item in education %}
        <div class="block__item">
            <div class="yearrange">{{item.startDate}}&#8211;{{item.endDate}}</div>
            <div class="yearright">
                <strong>{{item.institution}}</strong><br />
                {{item.area}}-{{item.studyType}}<br />
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if work|length > 0 %}
    <div class="block block--right">
    <h2 id="education">Education</h2>
        <div class="block__contain">

        {% for item in work %}
        <div class="block__item">
            <div class="yearrange">{{item.startDate}}&#8211;{{item.endDate}}</div>
            <div class="yearright">
                <strong>{{item.name}}</strong><br />
                <p>{{item.position}}</p><br />
                <p>{{item.summary}}</p><br />
                {% if work.highlights | length > 0 %}
                {% for hl in work.highlights %}
                {{hl}}<br />
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="block">
        {% for reference in references %}
        <div class="onelineitem">
            {% include "includes/reference_card.html.jinja" %}
        </div>
        {% endfor %}
    </div>
</body>

</html>
