<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" type="text/css" href="../base.css">
</head>

<body>

    <h1 id="name"></h1> &nbsp; <span class="docname">Curriculum Vit&aelig;</span>

    <div class="vline"></div>
    {% if education|length > 0 %}

    <h2 id="education">Education</h2>

    <div class="block">
        {% for item in education %}
        <div class="item">
            <div class="yearrange">{{item.start}}&#8211;{{item.end}}</div>
            <div class="yearright">
                <strong>{{item.place}}</strong><br />
                {{item.degree}}<br />
                {% if item.lab %}{{item.lab}}<br />{% endif %}
                {% if item.advisor %}Advisor: {{item.advisor}}<br />{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if work|length > 0 %}
    <h2 id="work">Work</h2>
    <div class="block">
        {% for item in work %}
        <div class="onelineitem">
            <div class="yearrange">{{item.start}}&#8211;{{item.end}}</div>
            <div class="yearright">
                <strong>{{item.title}}</strong>, {{item.place}}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if volunteer|length > 0 %}
    <h2 id="volanteer">Volanteer</h2>
    <div class="block">
        {% for item in volunteer %}
        <div class="onelineitem">
            <div class="yearrange">{{item.start}}&#8211;{{item.end}}</div>
            <div class="yearright">
                <strong>{{item.title}}</strong>, {{item.place}}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="block">
        {% for reference in references %}
        <div class="onelineitem">
            {% include "includes/reference_card.html.jinja" %}
        </div>
        {% endfor %}
    </div>
</body>

</html>